#navbar{
    padding: 25px;
    z-index: 100;
}
#nav{
    padding-right: 20px;
}
.navbar-link-text{
    color: white!important;
    transition: .15s;
}
.navbar-link-text:hover{
    color: rgb(225,225,225)!important;
}